body {		
	font:17px "Microsoft yahei",Arial;
	color:#000000;
	height:100%;
	background-image: url(back.jpg);
	background-size:cover;
	margin:0px;
}
a{
	color:#fff;
	background:#393C4B;
	padding:2px 5px;
	border-radius:3px;
	text-decoration:none;
}
a:hover{
	background:#202226;
}
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	line-height:0;
	font-size:0;
	visibility:hidden
}
.clearfix {
	zoom:1
}
.logo{
	margin: 100px  auto 40px auto;
	width: 500px;
	text-align: center;
	font-size: 2.5em;	
}
#main{
	margin:10px auto;
	width: 600px;
}
#songInfo{
	margin: 10px 0;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	height: 20px;		
}
.down{
	padding: 5px 5px 10px;
	border: 1px solid #DCDCDC;	
	text-align: center;
}
#urlflac{
	border-bottom: 2px solid #DCDCDC;
}
#result{
	display: none;
}
.form{
	position:relative;
}
#title{
	border: 1px solid #AAA;
	width:443px;
	height:20px;
	line-height: 20px;
	padding: 8px 75px 8px 10px;	
	font-size:15px;
}
#submit{
	position: absolute;
	top:1px;
	right: 0;
	background: #000;
	color: #FFF;
	border: none;
	width:70px;
	height:36px;
	line-height: 20px;
	/*cursor:pointer;*/
}
.down span{	
	display: inline-block;
	text-align: center;
}
.hide{
	display: none;
}
#suggest{
	display: none;
	width: 413px;
	border: 1px #74c0f9 solid;
	background: #FFF;
	padding: 5px 75px 10px 10px;
	color: #323232;		
}			
/*透明弹出层*/
.pass {	
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	font-weight: bold;
	z-index:999;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	margin:0px;
	position:fixed!important;/* FF IE7*/
	position:absolute;/*IE6*/
	background-color: black;
	/*
	filter: alpha(opacity=80); 
	opacity: 0.3;
	*/
}
#password{
	border: 1px solid #AAA;
	width:100px;
	height:12px;
	line-height: 20px;
	padding: 8px 75px 8px 10px;	
	font-size:15px;
	border-radius:3px;
	margin-top:20%;
}
