html,body {
    font:17px "Microsoft yahei",Arial;
    background: #eee;
    height: 100%;
}
body, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: 微软雅黑, "宋体";
    font-weight: normal;
}
body, form, menu, dir, fieldset, blockquote, p, pre, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a{
	color:#fff;
	background:#393C4B;
	padding:2px 5px;
	border-radius:3px;
	text-decoration:none;
}
a:hover{
	background:#202226;
}
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	line-height:0;
	font-size:0;
	visibility:hidden
}
.clearfix {
	zoom:1
}
.logo{
    height: 13%;
    width: 100%;
    padding-top: 45px;
    text-align: center;
    font-size: 2.5em;
}
#main{
    width: 100%;
    height: 65%;
}
.excel{
    float:left;
    width: 35%;
    height: 100%;
    margin-left: 12%;
    /*background-color: red;*/
}
.sql{
    float:left;
    width: 35%;
    height: 100%;
    margin-left: 6%;
    /*background-color: green;*/
}
.sqltext {
    height: 99%;
    width: 100%;
    background: #74c0f9;
    font-family: 微软雅黑;

}
textarea::-webkit-input-placeholder{text-align: center;padding-top:25px; font-size: 20px; color: #202226;}
#title{
	border: 1px solid #AAA;
	width:443px;
	height:20px;
	line-height: 20px;
	padding: 8px 75px 8px 10px;	
	font-size:15px;
}
#footer {
    position: absolute;bottom: 20px;
    width: 100%;
    float: left;
    margin: 30px auto 0px auto;
    /*background: #f2f2f2;*/

}

